<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{#    <meta http-equiv="Refresh" content="2;url=https://www.abcpython.com">#}

    <title>404 Not Found</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404er.css') }}">
</head>
<body class="notfound">
<!-- 代码 开始 -->
<div class="wrapper">
    <div class="big">Page Not Found！</div>
</div>
<!-- 代码 结束 -->
</body>
</html>


